table{
    border-collapse: collapse;
    width: 40%;
    margin: auto;
}

.pedido td, th{
    border: 1px solid black;
}
thead{
    background-color:rgb(41, 27, 0);
    color: rgb(238, 238, 255);
}

.img-logo{
    width: 85px;
}

.banner{
    width: 540px;;
}